.close {
	height: 26px;
	width: 26px;
    cursor: pointer;
    position: absolute;
    right: 0;
	transition: $transition-time;
	position: absolute;
	top: 0;
	
	svg {
		height: 30px;
		width: 30px;
		fill: $color2;
	}
	&:hover {
		svg {
			fill: $color3;
		}
	}
}
