.video-packager-add-actions {
    display: flex;
    margin-bottom: 10px;

    select {
        height: 60px;
        border: 2px solid black;
        font-size: $normal-font-size;
    }

    .video-packager-field {
        flex-grow: 1;
        flex-basis: 0;
    }
    .video-packager-button {
        margin-left: 10px;
    }
}
