.video-packager-timeline {
    .vis-item {
        cursor: pointer;
        &.subtitle:not(.vis-selected) {
            color: white;
            background-color: green;
            border-color: $color2;
        }

        &.lettering:not(.vis-selected) {
            color: white;
            background-color: red;
            border-color: $color2;
        }

        &.watermark:not(.vis-selected) {
            color: white;
            background-color: blue;
            border-color: $color2;
        }

        &:hover {
            opacity: 0.6;
        }

    }
    .timeline-footer {
        padding-top: 10px;
        height: 30px;

        .video-packager-start {
            float: left;
        }
        .video-packager-end {
            float: right;
        }
    }

}
