.timeline {
    .vis-item {

        &.subtitle:not(.vis-selected) {
            color: white;
            background-color: green;
            border-color: darkred;
        }

        &.lettering:not(.vis-selected) {
            color: white;
            background-color: red;
            border-color: darkred;
        }

        &.watermark:not(.vis-selected) {
            color: white;
            background-color: blue;
            border-color: darkred;
        }

    }
}
