@font-face {
    font-family: 'Emulogic';
    src: url('../fonts/Emulogic.eot');
    src: url('../fonts/Emulogic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Emulogic.woff2') format('woff2'),
        url('../fonts/Emulogic.woff') format('woff'),
        url('../fonts/Emulogic.ttf') format('truetype'),
        url('../fonts/Emulogic.svg#Emulogic') format('svg');
    font-weight: normal;
    font-style: normal;
}
