@font-face {
  font-family: 'AudiType-Extended';
  src: url('./fonts/AudiType-ExtendedNormal_08.eot') format('eot'),
  url('./fonts/AudiType-ExtendedNormal_08.woff') format('woff'),
  url('./fonts/AudiType-ExtendedNormal_08.svg#webfontdSscXrwb') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AudiType-Extended';
  src: url('./fonts/AudiType-ExtendedBold_08.eot') format('eot'),
  url('./fonts/AudiType-ExtendedBold_08.woff') format('woff'),
  url('./fonts/AudiType-ExtendedBold_08.svg#webfontdSscXrwb') format('svg');
  font-weight: bold;
  font-style: normal;
}
