
.video-packager-container {
    border: 1px solid black;
}

.video-packager-header-container {
    position: relative;
    height: 30px;
}

.video-packager-mid-container {
    display: flex;

    .video-packager-container {
        width: 50%;
    }
}
