.video-packager-container {

}

.video-packager-header-container {
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.video-packager-content {
    padding: 15px;
    border: 1px solid black;

    &.hidden {
        display: none;
    }

    font-family: $basic-font;
}

.video-packager-right-container {
    padding-left: 10px;
}

.video-packager-mid-container {
    display: flex;

    .video-packager-container {
        width: 50%;
    }
}
