.button {
	background-color: $color2;
	color: $color1;
	min-width: 100px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 20px;
	cursor: pointer;
	display: inline-block;
	font-size: $normal-font-size;
	transition: $transition-time;
	
	&:hover {
		color: $color1;
		background-color: $color3;
	}
}
