.video-packager-current-video-action {
    border: 2px solid $color2;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 346px;
    position: relative;
    padding-bottom: 81px;

    &.hidden {
        display: none;
    }

    .field-hidden {
        visibility: hidden;
    }

    .field-not-displayed {
        display: none;
    }

    .video-packager-action-type {
        border-bottom: 2px solid $color2;
        padding: 10px;
    }


    .video-packager-action-header {
        display: flex;

        .video-packager-action-title {
            width: 50%;
            input {
                width: 100%;
                padding-left: 10px;
                border-right: 2px solid $color2;
                border-bottom: 2px solid $color2;
                border-left-width: 0px;
                border-top-width: 0px;
                height: 30px;
                font-size: $normal-font-size;
            }
        }
        .video-packager-action-duration {
            padding-left: 10px;
            border-bottom: 2px solid $color2;
            width: 50%;
            line-height: 28px
        }
    }

    select {
        height: 51px;
        border: 2px solid $color2;
        font-size: $normal-font-size;
        width: 100%;
        margin-bottom: 20px;
    }

    .video-packager-action-top-info {
        padding: 10px;
        display: flex;
        .video-packager-mark-container {
            width: 50%;
        }
        input {
            height: 30px;
            font-size: $normal-font-size;
            width: 100%;
            text-align: center;
            border: 2px solid $color3;
        }

        .video-packager-mark-in-container {
            padding-right: 10px;
        }

        .video-packager-mark-out-container {
            padding-left: 10px;
        }
    }

    .video-packager-action-content {
        padding: 10px;
        .video-packager-input-container {
            width: 100%;
            margin-bottom: 10px;
        }

        textarea {
            font-size: $normal-font-size;
            height: 83px;
            width: 100%;
        }
    }

    .video-packager-action-bottom-container {
        display: flex;
        padding: 10px;
        bottom: 0;
        position: absolute;
        width: calc(100% - 20px);
        min-height: 61px;

        .video-packager-bottom-item {
            &.video-packager-x-small {
                width: 10%;
            }

            &.video-packager-text {
                text-align: center;
                line-height: 60px;
            }

            &.video-packager-small {
                width: 20%;
            }

            &.video-packager-normal {
                width: 70%;
            }

            position: relative;

            .video-packager-button {
                display: block;
                min-width: auto;
            }

            &:hover {
        		svg {
        			fill: $color3;
        		}
        	}

            svg {
                cursor: pointer;
                fill: $color2;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
