.bot {
    background-size: contain;

    &.red {
        background-image: url('../../assets/images/spacecraft.png');
        width: 60px;
        height: 60px;
    }

    &.blue {
        background-image: url('../../assets/images/spacecraft.png');
        width: 60px;
        height: 60px;
    }

    &.green {
        background-image: url('../../assets/images/spacecraft.png');
        width: 60px;
        height: 60px;
    }


}
